extends layout

block content
  h1= title
  p This page gives some basic information about the APIs available on this server.

  each api in apis
    span(style={'font-size': '14pt', 'font-weight': 'bold'})= api.apiDefination.name
    span(style={'font-size': '12pt'})= '  (version ' + api.apiDefination.version + ')'
    div(style={'padding-left': '1em', 'font-size': '13pt'})= api.apiDefination.description
    div(style={'padding-left': '1em', 'font-size': '13pt', 'font-weight': 'bold'}) Methods
    each method, methodName in api.apiDefination.methods
      div(style={'padding-left': '2em', 'font-size': '13pt', 'font-weight': 'bold'})= methodName
      div(style={'padding-left': '3em'})= method.description
      b(style={'padding-left': '3em'}) Parameters
      br
      each param, paramName in method.params
        span(style={display: 'inline-block', width: '8em', 'padding-left': '4em'})= paramName
        span(style={display: 'inline-block', width: '5em'})= param[0]
        if param[0] == 'bool'
          input(id=('input!' + methodName + '!' + paramName) type='checkbox' style={display: 'none', width: '5em'} checked)
        else if param[0] == 'string'
          input(id=('input!' + methodName + '!' + paramName) type='text' style={display: 'none', width: '5em'})
        span= param[1]
        br
      a(href='javascript:alert("unhide: ' + methodName + '")' id=('unhide!' + methodName) style={display: 'inline-block', width: '4em', 'padding-left': '4em'}) Test
      a(href='javascript:alert("run: ' + methodName + '")' id=('run!' + methodName) style={display: 'inline-block', width: '4em', 'padding-left': '4em'}) Run
      br
      br
    div(style={'padding-left': '1em', 'font-size': '13pt', 'font-weight': 'bold'}) Properties
    each property, propertyName in api.apiDefination.properties
      span(style={'padding-left': '2em', 'font-size': '13pt', 'font-weight': 'bold'})
        a(href=api.apiDefination.name + '/' + api.apiDefination.version + '/' + propertyName)= propertyName
      if !property.setter
        span   (read only)
      br
      div(style={'padding-left': '3em'})= property.description
      br
